<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="ENVIRONMENT" value="STAGE2"/>
  <add key="LoginFromVSSAorBGO" value="BGO"/>
  <add key="URL" value="https://stg2.sitecore.bluegreenowner.com"/>
  <add key="Browser" value="Chrome"/>
  <add key="TITLE" value="Sign In | Bluegreen Owner"/>
  <add key="VSSAUrl" value="https://@spathak:Welcome@1@stg2.vssa.bxgcorp.com/"/>
  <add key="VSSATitle" value="https://spathak:Welcome@1@stg2.vssa.bxgcorp.com/"/>

  <add key="TestResultsFolder" value="C:\Users\rerao\Desktop\SS1"/>
  <!--add key="TestResultsFolder" value="../../../Output"-->
  <add key="NoOfMonthsInLMA" value="3"/>
  <!-- URLs for  Pages-->
  <add key="UrlMyPointsPage" value="https://stg2.sitecore.bluegreenowner.com/mybluegreen/my-points"/>
  <add key="UrlMyReservations" value="https://stg2.sitecore.bluegreenowner.com/mybluegreen/my-reservations"/>
  <add key="UrlMyDashBoardPage" value="https://stg2.sitecore.bluegreenowner.com/mybluegreen/my-dashboard"/>
  <add key="URlHomePage" value="https://stg2.sitecore.bluegreenowner.com/home"/>
  <add key="URlPointReservation" value="https://stg2.sitecore.bluegreenowner.com/home"/>
  <add key="URlHomePageForBonusReservation" value="https://stg2.sitecore.bluegreenowner.com/home?srch=bt"/>
  <add key="URlPWLPage" value="https://stg2.bluegreenowner.com/owner/PremierSearch.aspx"/>
  <add key="URlLMAPage" value="https://stg2.sitecore.bluegreenowner.com/book/bluegreen-resorts/last-minute-availability"/>
  <add key="URlHomePageForLMA" value="https://stg2.sitecore.bluegreenowner.com/home"/>
  <add key="URlReferAFriend" value="https://stg2.sitecore.bluegreenowner.com/rewards/bluegreen-rewards#jumpto-refer-a-friend"/>
  <add key="UrlForMyReservationsDirect " value="https://stg2.sitecore.bluegreenowner.com/mybluegreen/my-dashboard/my-reservations"/>
  <add key="URLForcarRentalsPage" value="http://qa-bluegreenowner.travelnxt.com/index"/>
  <add key="URLForTravelerPlusHomePage" value="https://stg2.sitecore.bluegreenowner.com/traveler-plus/traveler-plus"/>
  <add key="URLForNonTravelerPlusHomePage" value="https://stg2.bluegreenowner.com/owner/vcTravelerPlus.aspx"/>
  <add key="URLForCoastToCoastRV" value="https://stg2.bluegreenowner.com/TravelerPlus/owner/RvCamping.aspx"/>
  <add key="URLForMakeAPrePaymentPage" value="https://stg2.bluegreenowner.com/owner/prePayment.aspx"/>
  <add key="URLforMakeAPayment" value="https://stg2.bluegreenowner.com/owner/payAcctBal.aspx"/>
  <add key="UrlForFundSource" value="https://demo.globalgatewaye4.firstdata.com/?lang=en"/>
  <add key="UrlForFundSourceTransactionsPage" value="https://demo.globalgatewaye4.firstdata.com/transactions/list"/>
  <add key="URLForMortgagePage" value="https://stg2.bluegreenowner.com/owner/mortgagerequestpayoff.aspx?flag=intent"/>
  <add key="URLForMortgageViewHistoryPage" value="https://stg2.bluegreenowner.com/owner/mortgagesecurity.aspx?requestor=mortgagetransactionhistory.aspx"/>
  <add key="URLForMaintenancefeeHistorypage" value="https://stg2.bluegreenowner.com/owner/MaintenanceFeeHistory.aspx"/>
  <add key="URLForMyAccountsPage" value="https://stg2.sitecore.bluegreenowner.com/mybluegreen/my-account"/>
  <add key="loginSuccessUrlForFlexFixUser" value="https://stg2.sitecore.bluegreenowner.com/home"/>
  <add key="loginSuccessUrlForSpecialcase" value="https://stg2.bluegreenowner.com/login.aspx"/>
  <add key="loginSuccessUrlPaymentBalance" value="https://stg2.bluegreenowner.com/owner/paymentReminder.aspx"/>
  <!--add key="loginSelectAccountUrl" value="https://stg2.sitecore.bluegreenowner.com/select-account"/>-->
  <add key="loginSelectAccountUrl" value="https://stg2.bluegreenowner.com/login.aspx"/>
  <add key="loginTPRenewUrl" value="https://stg2.bluegreenowner.com/TravelerPlus/owner/ownerrenewal.aspx?display=1"/>
  <add key="loginMyPoints" value="https://stg2.sitecore.bluegreenowner.com/mybluegreen/my-dashboard/my-points"/>
  <add key="loginChangePassword" value="https://stg2.sitecore.bluegreenowner.com/mybluegreen/my-account/Change-Password?PasswordRuleFail=true"/>
  <add key="UrlPPPPage" value="https://stg2.sitecore.bluegreenowner.com/owner/Points-Protection-Plan"/>
  <add key="URLForDirectExchange" value="https://stg2.bluegreenowner.com/TravelerPlus/owner/DirectExchange.aspx"/>
  <add key="URLForPrizzmaDirectExchange" value="https://test.holidayjuggle.net:8443/Clientsite.html?locale=en"/>
  <add key="URLForChoiceHotels" value="https://www.choicehotels.com/ascend"/>
  <add key="URLForRCINightlyStaysHomePage" value="https://testb2bb.rci.com/RCI/login/LoginController.jpf"/>
  <add key="URLForTravelerPlusRCIPage" value="https://stg2.bluegreenowner.com/TravelerPlus/owner/RCINightlyStays.aspx"/>
  <add key="UrlForVSSAHomePage" value="https://stg2.vssa.bxgcorp.com/"/>
  <add key="UrlForLogOff" value="https://stg2.sitecore.bluegreenowner.com/"/>
  <add key="UrlForVSSAPremierReportPage" value="https://stg2.vssa.bxgcorp.com/premierownerreport.aspx"/>
</appSettings>

