<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ENVIRONMENT" value="STAGE_INT"/>
  <add key="URL" value="https://stgint.bluegreenowner.com/"/>
  <add key="Browser" value="Chrome"/>
  <add key="TITLE" value="Sign In | Bluegreen Owner"/>
  <add key="TestResultsFolder" value="C:\Users\ShivamPathak\Desktop\Testresults"/>
  <!--add key="TestResultsFolder" value="../../../Output"-->
  <add key="NoOfMonthsInLMA" value="1"/>
  <!-- URLs for  Pages-->
  <add key="UrlMyPointsPage" value="https://stgint.bluegreenowner.com/mybluegreen/my-points"/>
  <add key="UrlMyReservations" value="https://stgint.bluegreenowner.com/mybluegreen/my-reservations"/>
  <add key="UrlMyDashBoardPage" value="https://stgint.bluegreenowner.com/mybluegreen/my-dashboard"/>
  <add key="URlHomePage" value="https://stgint.bluegreenowner.com/home"/>
  <add key="URlPointReservation" value="https://stgint.bluegreenowner.com/home"/>
  <add key="URlHomePageForBonusReservation" value="https://stgint.bluegreenowner.com/home"/>
  <add key="URlPWLPage" value="https://stgint.lg.bluegreenowner.com/owner/PremierSearch.aspx"/>
  <add key="URlLMAPage" value="https://stgint.bluegreenowner.com/book/bluegreen-resorts/last-minute-availability"/>
  <add key="URlHomePageForLMA" value="https://stgint.bluegreenowner.com/home"/>
  <add key="URlReferAFriend" value="https://stgint.bluegreenowner.com/rewards/bluegreen-rewards#jumpto-refer-a-friend"/>
  <add key="UrlForMyReservationsDirect" value="https://stgint.bluegreenowner.com/mybluegreen/my-reservations"/>
  <add key="URLForcarRentalsPage" value="http://qa-bluegreenowner.travelnxt.com/index"/>
  <add key="URLForTravelerPlusHomePage" value="https://stgint.bluegreenowner.com/traveler-plus/traveler-plus"/>
  <add key="URLForNonTravelerPlusHomePage" value="https://stgint.bluegreenowner.com/home"/>
  <add key="URLForCoastToCoastRV" value="https://stgint.lg.bluegreenowner.com/TravelerPlus/owner/RvCamping.aspx"/>
  <add key="URLForMakeAPrePaymentPage" value="https://stgint.bluegreenowner.com/payments/payment-options?trxID=cac2e72b-1a4c-4c8a-92f7-060575951c2b"/>
  <add key="URLforMakeAPayment" value="https://stgint.bluegreenowner.com/payments/payment-options?trxID=d1760528-d6f5-4969-9a60-03e505e54110"/>
  <add key="UrlForFundSource" value="https://demo.globalgatewaye4.firstdata.com/"/>
  <add key="UrlForFundSourceTransactionsPage" value="https://demo.globalgatewaye4.firstdata.com/transactions/list"/>
  <add key="URLForMortgagePage" value="https://stgint.bluegreenowner.com/owner/mortgagerequestpayoff.aspx?flag=intent"/>
  <add key="URLForMortgageViewHistoryPage" value="https://stgint.bluegreenowner.com/owner/mortgagesecurity.aspx?requestor=mortgagetransactionhistory.aspx"/>
  <add key="URLForMaintenancefeeHistorypage" value="https://stgint.bluegreenowner.com/maintenance/summary"/>
  <add key="URLForMyAccountsPage" value="https://stgint.bluegreenowner.com/mybluegreen/my-account"/>
  <add key="loginSuccessUrlForFlexFixUser" value="https://stgint.bluegreenowner.com/home"/>
  <add key="loginSuccessUrlForSpecialcase" value="https://stgint.bluegreenowner.com/login.aspx"/>
  <add key="loginSuccessUrlPaymentBalance" value="https://stgint.bluegreenowner.com/owner/paymentReminder.aspx"/>
  <add key="loginSelectAccountUrl" value="https://stgint.bluegreenowner.com/select-account"/>
  <add key="loginTPRenewUrl" value="https://stgint.bluegreenowner.com/TravelerPlus/owner/ownerrenewal.stgint?display=1"/>
  <add key="loginMyPoints" value="https://stgint.bluegreenowner.com/mybluegreen/my-points"/>
  <add key="loginChangePassword" value="https://stgint.bluegreenowner.com/mybluegreen/my-account/change-password"/>
  <add key="UrlPPPPage" value="https://stgint.bluegreenowner.com/owner/Points-Protection-Plan"/>
  <add key="URLForDirectExchange" value="https://stgint.bluegreenowner.com/TravelerPlus/owner/DirectExchange.aspx"/>
  <add key="URLForPrizzmaDirectExchange" value="prizzma"/>
  <add key="URLForChoiceHotels" value="https://www.choicehotels.com/"/>
  <add key="URLForRCINightlyStaysHomePage" value="rci"/>
  <add key="URLForTravelerPlusRCIPage" value="https://stgint.lg.bluegreenowner.com/TravelerPlus/owner/RCINightlyStays.aspx"/>
  <add key="UrlForVSSAHomePage" value="https://nfathima:Qurrath@40@stgint.vssa.bxgcorp.com/"/>

  <add key="UrlForLogOff" value="https://stgint.bluegreenowner.com/"/>
  <add key="UrlForVSSAPremierReportPage" value="https://stgint.vssa.bxgcorp.com/premierownerreport.aspx"/>
  <add key="UrlForCPConfirmPage" value="https://stgint.bluegreenowner.com/owner/cpconversionConfirm.aspx"/>
  <add key="UrlForChoiceHotels" value="choicehotels"/>
  <add key="UrlForChoicePrivileges" value="https://stgint.bluegreenowner.com/featured/Choice-New-Benefits"/>
  <add key="UrlForMyPoints" value="https://stgint.bluegreenowner.com/owner/cpconversion.aspx"/>
  <add key="UrlRegistrationConfirmationPg" value="https://stgint.sitecore.bluegreenowner.com/confirm-registration"/>
  <add key="UrlAskBluegreen" value="https://stgint.bluegreenowner.com/search/faq-home"/>
  <add key="UrlHaveAQuestion" value="https://stgint.bluegreenowner.com/contactus"/>
  <add key="UrlmyMaintenanceFeesPage" value="https://stgint.bluegreenowner.com/maintenance/summary"/>
  <add key="UrlGreatEscapeConfirmationPage" value="https://stgint.bluegreenowner.com/TravelerPlus/owner/greatescapesConfirmation.aspx"/>
  <add key="TPRenewConfirmationPage" value="https://stgint.bluegreenowner.com/Travelerplus/owner/ownerRenewalConfirm.aspx"/>

  <add key="GreatEscapesResultPage" value="https://stgint.bluegreenowner.com/TravelerPlus/owner/greatescapesResults.aspx"/>
  <add key="GreatEscapesPaymentPage" value="https://stgint.bluegreenowner.com/TravelerPlus/owner/greatescapesCCPay.aspx"/>
  <add key="MyMaintenanceFeesAndClubDuesPage" value="https://stgint.sitecore.bluegreenowner.com/maintenance/summary"/>
  <add key="DownloadsFilePath" value="chrome://downloads/"/>
  <add key="WesternUnionPaymentServices" value="speedpay"/>
  <add key="MakeAPaymentPage_LoanPayment" value="https://stgint.sitecore.bluegreenowner.com/loan/payment?loannumber="/>
  <add key="StgInt" value="https://stgint.bluegreenowner.com/"/>

  <!--add key="URLForPrizzmaDirectExchange" value="https://stgint.prizzma.com/server/Clientsite.html?locale=en&ref=0#Search/Location/A"/>-->

  <add key="ExtentReportsPath" value="C:\Users\ShivamPathak\Desktop\Testresults"/>
</appSettings>

